<!doctype html>
<html>

<head>
  <title>EV Charging Stations Map</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/static/css/style.css">

</head>

<body>


  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">   <img src="/static/img/logo.png" width="120" height="50" alt=""></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ms-auto mb-2">
          <a href="/logout"><input type="button" class="btn btn-primary" value="Logout"></a>
        </div>
      </div>
    </div>
  </nav>

  <div class="container mt-4">
    <div class="row justify-content-center ">
      <div class="col-lg-6 col-md-8 col-sm-10">
        <form action="/address" method="post" class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Address" name="address" aria-label="Search" style="border-radius: 50px;">
          <button class="btn btn-primary" type="submit"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
            <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"/>
            <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
          </svg> </button>
        </form>
      </div>
    </div>
    <div class="row justify-content-center mt-4">
      {% for station in output['data'] %}
      <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
        <div class="card h-100">
          <img src="{{ station['photo'] }}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{ station['name'] }}</h5>
            <p class="card-text">{{ station['formatted_address'] }}</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Latitude:{{ station['latitude'] }}</li>
            <li class="list-group-item">Longitude:{{ station['longitude'] }}</li>
            <li class="list-group-item">City:{{ station['formatted_address'] }}</li>
          </ul>
          <div class="card-body">
            <a href="{{ station['place_link'] }}"> Place link</a>
            <p>{{ station['zipcode'] }}</p>
            <p>{{ station['street_address'] }}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  




</body>

</html>