<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Index</title>


  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/static/vendor/aos/aos.css" rel="stylesheet">
  <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/static/css/style0.css" rel="stylesheet">


</head>

<body>

  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="hero-container">
      <a href="index.html" class="hero-logo" data-aos="zoom-in"><img src="/static/img/hero-logo.png" alt=""></a>
      <h1 data-aos="zoom-in">Welcome To Ev Charge Stations</h1>
      <h2 data-aos="fade-up">We are here to find Charging Stations for your car</h2>
      <a data-aos="fade-up" data-aos-delay="200" href="#about" class="btn-get-started scrollto">Get Started</a>
    </div>
  </section><!-- End Hero -->

  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo">
        <a href="index.html"><img src="/static/img/logo.png" alt="" class="img-fluid"></a>
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#services">Services</a></li>
          <li><a class="nav-link scrollto" href="#pricing">Pricing</a></li>
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
          <li><a class="nav-link scrollto" href="/address1">Find Station</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>About Us</h2>
          <p>An electric vehicle charging station is equipment that connects an electric vehicle (EV) to a source of
            electricity to recharge electric cars, neighbourhood electric vehicles and plug-in hybrids</p>
        </div>

        <div class="row">
          <div class="col-lg-6" data-aos="fade-right">
            <div class="image">
              <img src="/static/img/about.jpeg" class="img-fluid" alt="">
            </div>
          </div>
          <div class="col-lg-6" data-aos="fade-left">
            <div class="content pt-4 pt-lg-0 pl-0 pl-lg-3 ">
              <h3> Electric Vehicles Smart
                Charging and Storage
                Supporting the Grid</h3>
              <p class="fst-italic">
                At its most basic, an EV charger pulls an electrical current from either a 240v outlet or the grid it's
                hardwired to and delivers that electricity to the vehicle, just like any other appliance or device you
                charge by plugging into the wall.
              </p>
              <ul>
                <li><i class="bx bx-check-double"></i> Its main job is to recharge the battery of an EV to keep the
                  vehicle in motion. Most eclectic vehicles' batteries can only be charged with direct current (DC)
                  power, yet some EV have a charger that converts alternating current (AC) electricity into DC and then
                  sends this power to the vehicle's charging port.
                </li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End About Us Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Services</h2>
          <p>EV Charge Stations services</p>
        </div>

        <div class="row">
          <div class="col-lg-6 order-2 order-lg-1">
            <div class="icon-box mt-5 mt-lg-0" data-aos="fade-up">
              <i class="bx bx-receipt"></i>
              <h4>PARTNERSHIP:</h4>
              <p>We serve hundreds of partners worldwide, including resellers, distributors, installers, car
                manufacturers, and more. Partnering with us is simple ; we offer a range of charging solutions tailored
                to your business model.</p>
            </div>
            <div class="icon-box mt-5" data-aos="fade-up" data-aos-delay="100">
              <i class="bx bx-cube-alt"></i>
              <h4>INFRASTRUCTURE:</h4>
              <p>We will continue providing the infrastructure and expertise needed to adopt electric mobility along
                with all support to keep customers happy and vehicles on the move.</p>
            </div>
            <div class="icon-box mt-5" data-aos="fade-up" data-aos-delay="200">
              <i class="bx bx-images"></i>
              <h4>THE PERFECT MATCH FOR SEVERAL AREAS LIKE:</h4>
              <p>Elexio Service – ev charging station, electric vehicle, electric bike charging point, tesla charging,
                petrol station, fuel station, gas station, electric car supplier & rental and more.</p>
            </div>

          </div>
          <div class="image col-lg-6 order-1 order-lg-2" style='background-image: url("/static/img/service.jpg");'
            data-aos="fade-left" data-aos-delay="100"></div>
        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Featured Section ======= -->
    <section id="featured" class="featured">
      <div class="container">

        <div class="row">
          <div class="col-lg-6" data-aos="fade-right">
            <div class="tab-content">
              <div class="tab-pane active show" id="tab-1">
                <figure>
                  <img src="/static/img/feature1.jpg" alt="" class="img-fluid">
                </figure>
              </div>
              <div class="tab-pane" id="tab-2">
                <figure>
                  <img src="/static/img/feature2.png" alt="" class="img-fluid">
                </figure>
              </div>
              <div class="tab-pane" id="tab-3">
                <figure>
                  <img src="/static/img/f.jpg" alt="" class="img-fluid">
                </figure>
              </div>

            </div>
          </div>
          <div class="col-lg-6 mt-4 mt-lg-0" data-aos="fade-left">
            <ul class="nav nav-tabs flex-column">
              <li class="nav-item">
                <a class="nav-link active show" data-bs-toggle="tab" href="#tab-1">
                  <h4>Reason to Develop an EV Vehicles & Station ?</h4>
                  <p>The arrival of electric vehicles is to go green and making our environment cleaner.</p>
                </a>
              </li>
              <li class="nav-item mt-2">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-2">
                  <h4>Reason to Develop the Website to find Stations ?</h4>
                  <p> By building such an app, it becomes easier for you to find the nearest
                    EV charging stations.</p>
                </a>
              </li>
              <li class="nav-item mt-2">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-3">
                  <h4>Steps to Build a App</h4>
                  <p>If you want to develop such an app, you should know what it is, its functions, business model,
                    features, required costs, market trends, user expectations, and more. Let’s read on!</p>
                </a>
              </li>

            </ul>
          </div>
        </div>

      </div>
    </section><!-- End Featured Section -->

    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us">
      <div class="container-fluid">

        <div class="row">

          <div class="col-lg-7 order-2 order-lg-1 d-flex flex-column justify-content-center align-items-stretch">

            <div class="content" data-aos="fade-up">
              <h3>How Does An Electric Vehicle Charging Finder App Work?</h3>
              <p>
                Here is how an EV charging station finder app functions:
              </p>
            </div>

            <div class="accordion-list">
              <ul>
                <li data-aos="fade-up" data-aos-delay="100">
                  <a data-bs-toggle="collapse" class="collapse" data-bs-target="#accordion-list-1"><span>01</span>
                    Security <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                  <div id="accordion-list-1" class="collapse show" data-bs-parent=".accordion-list">
                    <p>
                      If you are a car owner, you need to register on the app with your phone number, email ID, and
                      password. Or, you can sign up quickly with your social account.
                    </p>
                  </div>
                </li>

                <li data-aos="fade-up" data-aos-delay="200">
                  <a data-bs-toggle="collapse" data-bs-target="#accordion-list-2" class="collapsed"><span>02</span>
                    Location <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                  <div id="accordion-list-2" class="collapse" data-bs-parent=".accordion-list">
                    <p>
                      After signing up, you haveYou can browse the closer areas and check essential info about those
                      stations, such as compatible EV, images, details, costs, and availability to enter your area or
                      enable the Geolocation to give the app access to find your location. It shows the nearest charging
                      stations.
                    </p>
                  </div>
                </li>

                <li data-aos="fade-up" data-aos-delay="300">
                  <a data-bs-toggle="collapse" data-bs-target="#accordion-list-3" class="collapsed"><span>03</span>Link
                    Nearby Places <i class="bx bx-chevron-down icon-show"></i><i
                      class="bx bx-chevron-up icon-close"></i></a>
                  <div id="accordion-list-3" class="collapse" data-bs-parent=".accordion-list">
                    <p>
                      After signing up, you can link the stations to the nearest places. After linking, you can browse
                      and go to that place..
                    </p>
                  </div>
                </li>

              </ul>
            </div>

          </div>

          <div class="col-lg-5 order-1 order-lg-2 align-items-stretch video-box"
            style='background-image: url("/static/img/feature4.png"); height: 100vh; width: 70vh; ' data-aos="zoom-in">
            <a href="https://www.youtube.com/shorts/-fwIwBMKKUU" class="venobox play-btn mb-4" data-vbtype="video"
              data-autoplay="true"></a>
          </div>

        </div>

      </div>
    </section><!-- End Why Us Section -->


    <!-- ======= Investment Sections ======= -->
    <section class="height">
      <div class="container">
        <h3 class="text-dark">Why Invest In An EV Charging Station App?</h3>
        <span class="text-dark">Investing in an EV charging station finder app development is beneficial in several
          ways. Because it is still a secure point in the marketplace with low competition.</span><br>
        <p class="text-dark p-4">The global EV market is predicted to increase at a rate of 26.8% per year from 2021
          to 2030. In 2021, the number of EV units is more than 4,093k. <br>
          This number will reach 34,756k by 2030.</p><br>
        <img src="/static/img/feature5.png" alt="feature" class="center"><br>
        <p class="text-dark">The EV charging stations will grow with the increase in the number of EVs. Although there
          is low competition, the app concept is not very common. Hence, by developing an EV charging station locator
          app, you can take an excellent initiative for running a fruitful business in the future.</p>
      </div>
    </section>
    <!-- =========End of investment section===========-->
    <section id="clients" class="clients">
      <div class="container">
        <div class="left">
          <h6 class="text-dark" style="font-weight: bold;">Our mission:</h6>
          <h3 class="text-white">Make the world cleaner, save natural resources, <br>
            create comfort for people</h3>
        </div>
        <div class="right">
          <img src="/static/img/client.png" alt="image" class="image">
        </div>
      </div>
    </section>
    <!-- ======= Pricing Section ======= -->
    <section id="pricing" class="pricing section-bg">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Pricing</h2>
          <p>Choose your ready-made solution</p>
        </div>

        <div class="row">

          <div class="col-lg-4 col-md-6">
            <div class="box" data-aos="zoom-in" data-aos-delay="100">
              <h3>Housing</h3>
              <h4><sup>$</sup>50<span> / month</span></h4>
              <ul>
                <li>Charging station for home</li>
                <li>Charge point setting</li>
                <li>Free Support</li>
                <li>1 year hardware warranty</li>
                <li>Remote access to the device</li>
              </ul>
              <div class="btn-wrap">
                <a href="#" class="btn-buy">Buy Now</a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
            <div class="box recommended" data-aos="zoom-in">
              <span class="recommended-badge">Recommended</span>
              <h3>Public point</h3>
              <h4><sup>$</sup>190<span> / month</span></h4>
              <ul>
                <li>Public charging station</li>
                <li>Charge point setting</li>
                <li>Free Suppor</li>
                <li>1 year hardware warranty</li>
                <li>Remote access to the device</li>
              </ul>
              <div class="btn-wrap">
                <a href="#" class="btn-buy">Buy Now</a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mt-4 mt-lg-0">
            <div class="box" data-aos="zoom-in" data-aos-delay="100">
              <h3>Commercial systems</h3>
              <h4><sup>$</sup>29<span> / month</span></h4>
              <ul>
                <li>Commercial charging station</li>
                <li>Charge point setting</li>
                <li>Premium Support</li>
                <li>3 year hardware warranty</li>
                <li>Remote access to the device</li>
              </ul>
              <div class="btn-wrap">
                <a href="#" class="btn-buy">Buy Now</a>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Pricing Section -->

<!-- ======= Frequently Asked Questions Section ======= -->
<section id="faq" class="faq">
  <div class="container">

    <div class="section-title" data-aos="fade-up">
      <h2>Frequently Asked Questions</h2>
    </div>

    <ul class="faq-list">

      <li data-aos="fade-up">
        <a data-bs-toggle="collapse" class="collapsed" data-bs-target="#faq1">WHAT IS AN EV CHARGING STATION? <i
            class="bx bx-chevron-down icon-show"></i><i class="bx bx-x icon-close"></i></a>
        <div id="faq1" class="collapse" data-bs-parent=".faq-list">
          <p>
            An EV charging station is a place where you can recharge an EV’s battery. EV Charging stations come in
            various shapes and sizes depending on the type of power they supply – for example, some are similar to
            gas pumps. In contrast, others resemble parking meters or newspaper racks.
          </p><br>
          <p>Public stations that offer quick-charging speeds typically take less than half an hour to charge your
            car fully. Homeowners who want faster EV charging rates can get 240-volt chargers installed at their
            houses by electricians, which will cut down recharging times significantly.</p><br>
          <p>Some companies even offer wireless induction stations that do not require any cables. These allow
            drivers to park over them and boost their batteries with no physical connection needed.</p>
        </div>
      </li>

      <li data-aos="fade-up">
        <a data-bs-toggle="collapse" class="collapsed" data-bs-target="#faq1">HOW FAR CAN MY CAR GO ON A FULL
          CHARGE? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-x icon-close"></i></a>
        <div id="faq1" class="collapse" data-bs-parent=".faq-list">
          <p>
            It depends on the EV charging system and its battery. Lithium-ion batteries typically last as long as 1
            million miles, creating an estimated driving range of up to 200 miles per charge. Because EVs are more
            efficient than gas-powered cars, you can sometimes go further on a single charge. For example, a Nissan
            Leaf can go up to 107 miles on a full charge, while the Tesla Model S only needs around 80 percent of
            its battery capacity for a range of 300 miles.
          </p>
        </div>
      </li>

      <li data-aos="fade-up" data-aos-delay="100">
        <a data-bs-toggle="collapse" data-bs-target="#faq2" class="collapsed">HOW LONG DOES IT TAKE TO CHARGE AN EV
          FULLY? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-x icon-close"></i></a>
        <div id="faq2" class="collapse" data-bs-parent=".faq-list">
          <p>
            The time needed depends on how empty the car’s battery is and the type of charger used. If you plug your
            car in at home, you can expect it to fully recharge overnight (about 8 hours) with an ordinary 120-volt
            outlet, which only supplies 1-2 kilowatts of power. However, EV charging using that same outlet would
            only give your car around 10 miles of range per hour.
          </p> <br>
          <p> Drivers who need faster charging times can opt for a 240-volt outlet with a higher rate of 32 amps,
            which supplies 3.7 kilowatts of power and fully recharges the car in around four hours. A faster charger
            can also charge an EV to 80% capacity in about an hour, but it costs around $2,000 to install one at
            your home.</p>
        </div>
      </li>

      <li data-aos="fade-up" data-aos-delay="200">
        <a data-bs-toggle="collapse" data-bs-target="#faq3" class="collapsed"> WHAT CAN I DO IF MY CAR RUNS OUT OF
          POWER? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-x icon-close"></i></a>
        <div id="faq3" class="collapse" data-bs-parent=".faq-list">
          <p>
            If you think your battery might be empty, plug in the car at any available outlet. Suppose it’s not
            possible to charge the vehicle where you are. In that case, some EVs offer an “E-Brake Override” system
            that uses electric brakes instead of hydraulic brakes by replacing a few components with electronic
            sensors.
          </p><br>
          <p>This enables you to increase or maintain speed for up to 16 miles on downhill roads (at 20 percent
            grade) or 6.2 miles on level roads. Owners of EVs like the Nissan Leaf can also get towed up to 37 miles
            with no fuel cost using the “Nissan CarWings” service through local dealerships.</p>
        </div>
      </li>

      <li data-aos="fade-up" data-aos-delay="300">
        <a data-bs-toggle="collapse" data-bs-target="#faq4" class="collapsed">WILL I NEED TO UPGRADE MY POWER GRID
          IF EVERYONE STARTS DRIVING EV'S? <i class="bx bx-chevron-down icon-show"></i><i
            class="bx bx-x icon-close"></i></a>
        <div id="faq4" class="collapse" data-bs-parent=".faq-list">
          <p>
            Electricity demand increases by about 1 percent every year. That means the grid is flexible enough to
            handle new electricity-using appliances like cars without any significant changes or upgrades necessary
            for now.
          </p><br>
          <p>A 2008 study conducted by NASA’s Glenn Research Center concluded that an increase of 80 million plug-in
            vehicles in the United States would create a 0.5% incremental peak demand. Keep in mind, though, those
            electric companies are aware of this issue and plan accordingly for future needs.</p>
        </div>
      </li>

      <li data-aos="fade-up" data-aos-delay="400">
        <a data-bs-toggle="collapse" data-bs-target="#faq5" class="collapsed"> WHAT IS A DC FAST-CHARGER?<i
            class="bx bx-chevron-down icon-show"></i><i class="bx bx-x icon-close"></i></a>
        <div id="faq5" class="collapse" data-bs-parent=".faq-list">
          <p>
            DC fast chargers are public quick-charging stations that can recharge an EV to 80 percent of its
            capacity in around 30 minutes, which is roughly equivalent to the amount of time it takes to fill up a
            car with gas. These EV charging stations use direct current (DC) instead of alternating current (AC),
            which means they are better suited for electric cars than AC chargers because their power needs are
            different. By 2021, California will have 1,500 DC fast chargers installed at 450 locations.
          </p><br>
          <p>A few automakers even offer track day cars equipped with 100 kilowatts regenerative braking systems
            that can fully charge five minutes or less. However, these vehicles come with a price tag that ranges
            from $350,000 to over a million dollars.</p>
        </div>
      </li>

      <li data-aos="fade-up" data-aos-delay="500">
        <a data-bs-toggle="collapse" data-bs-target="#faq6" class="collapsed">HOW DO I KNOW WHICH ELECTRIC VEHICLE
          CHARGING STATION IS RIGHT FOR ME?<i class="bx bx-chevron-down icon-show"></i><i
            class="bx bx-x icon-close"></i></a>
        <div id="faq6" class="collapse" data-bs-parent=".faq-list">
          <p>
            There are several factors to consider such as charging speed, installation, location, power adjustment,
            capacity and size. As well as other important considerations like ease of use and cost.
          </p><br>
          <p>This gives drivers the option to see only the ultra-quick charging locations when searching for a
            nearby station. EV charging shown in search results. When you're searching for something, like a grocery
            store, Google Maps will now show you whether there's an EV charger present in the search results.</p>
        </div>
      </li>

    </ul>

  </div>
</section><!-- End Frequently Asked Questions Section -->


    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Contact</h2>
          
        </div>

        <div class="row">

          <div class="col-lg-4">
            <div class="info d-flex flex-column justify-content-center" data-aos="fade-right">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>A108 Adam Street,<br>New York, NY 535022</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>info@example.com</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>+1 5589 55488 55s</p>
              </div>

            </div>

          </div>

          <div class="col-lg-8 mt-5 mt-lg-0">

            <form action="/contact" method="post" role="form" class="php-email-form" data-aos="fade-left">
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>

          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">

      <div class="container">

        <div class="row justify-content-center">
          <div class="col-lg-6">
            <a href="#header" class="scrollto footer-logo"><img src="/static/img/hero-logo.png" alt=""></a>
            <h3>Ev Charge Stations</h3>
            <p>Get your cars charging Here...</p>
          </div>
        </div>

        <div class="row footer-newsletter justify-content-center">
          <div class="col-lg-6">
            <form action="/submit" method="post">
              <input type="email" name="email" placeholder="Enter your Email"><input type="submit" value="Subscribe">
            </form>
          </div>
        </div>

        <div class="social-links">
          <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
          <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
          <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
          <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
          <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div>

      </div>
    </div>


  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="/static/vendor/aos/aos.js"></script>
  <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/static/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/static/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/static/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="/static/js/main0.js"></script>

</body>

</html>