<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style1.css">
  

    <title>Login</title>

</head>

<body class="body">
    <div class="box">
        <div class="container">
            <div class="top">
                <span>Don't Have an account? <a href="/register">Register</a></span>
                <header>Login</header>
            </div>
            <!--form login section-->
            <form action="/home" method="post">


                <div class="input-field p-1">
                    <input type="text" class="input" placeholder="Username" id="" required>
                    <i class='bx bx-user i'></i>
                </div>

                <div class="input-field " style="margin-top: 1rem;">
                    <input type="Password" class="input" placeholder="Password" id="" required>
                    <i class='bx bx-lock-alt'></i>
                </div>

                <div class="input-field "style="margin-top: 1rem;">
                    <input type="submit" class="submit" value="Login" id="">
                </div>

                <div class="two-col">
                    <div class="one">
                        <input type="checkbox" name="" id="check">
                        <label for="check"> Remember Me</label>
                    </div>
                    <div class="two">
                        <label><a href="/">Forgot password?</a></label>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>

</html>